@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: boldFont;
  src: url(./app/fonts/Montserrat/Montserrat-Bold.ttf);
}

//@font-face {
//  font-family: wideLatin;
//}

.microscope-image {
  position: relative;
  img {
    height: 100vh;
    min-width: 100%;
    z-index: 0;
  }
}

.header-summary h2 {
  position: absolute;
  color: #FFFFFF;
  z-index: 20;
  text-align: left;
  line-height: 2;
  font-weight: bold;
}

.qfi {
  position: absolute;
  z-index: 20;
  top: 250px; // this is not responsive
  left: 100px;
}

.navbar {
  z-index: 10;
  background: none;
  padding: 0 !important;
  margin: 0 !important;
}

.filled-nav {
  background-color: #0046AD;
  width: 100%;
}

#header {
  transition: 500ms ease;
  padding: 10px 0 10px 0;
}

#header.scrolled {
  background-color: #0046AD;
  opacity: 0.7;
}

.logo img {
  height: 50px;
  padding: 10px 0 10px 20px;
}

.navbar-nav .nav-link {
  color: #FFFFFF;
  font-weight: bolder;
}

.dropbtn {
  background: transparent;
  color: white;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/*------------------------------------------------------------------------------------
# HomePage
------------------------------------------------------------------------------------*/

.title h1 {
  padding: 100px 0 20px 0;
  font-family: Montserrat, sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}

.short-desc {
  text-align: center;
  width: 900px; // need to change this to make it responsive
  margin-left: auto;
  margin-right: auto;

  p {
    font-size: 2rem;
  }
}

.services-section {
  text-align: center;
  color: #050842;
  background-color: #E6EDF5;
}

.services-container {
  padding: 20px 0 100px 0;
}

.services-box {
  min-width: 400px;
  max-height: 350px;
  background-color: #AB0606;
  border-radius: 10px;
  box-sizing: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  img {
    padding-bottom: 30px;
    width: 80px;
    height: 80px;
  }

  h3 {
    color: #FFFFFF;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
  }

  p {
    color: #FFFFFF;
  }
}

.services-box:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.services-box:hover {
  transform: scale(1.02);
}

.services-box:hover:after {
  opacity: 1;
}

.products-section {
  text-align: center;
  background-color: #E6EDF5;
  color: #050842;
  height: 300px;
}

.short-desc {
  padding-bottom: 50px;
}

.products-carousel {
  padding: 0 300px 100px 300px;
}

.carousel-item img {
  max-height: 500px;
}

//.carousel-control-prev-icon, .carousel-control-next-icon {
//  width: 3.5rem !important;
//  height: 3.5rem !important;
//}

.about-section {
  padding-bottom: 50px;
  background-color: #E6EDF5;
  color: #050842;
}

.about-title {
  text-align: center;
  padding-bottom: 50px;
}

.about-summary {
  text-align: center;
  p {
    font-size: 1.5rem;
    line-height: 2;
  }
}

.about-img img {
  height: 500px; // need to change this to make it responsive
}

.contact-section {
  padding: 100px 0 150px 0;
  background-color: #E6EDF5;
  color: #050842;
}

.contact-title h1 {
  padding: 0 0 50px 0;
  font-family: Montserrat, sans-serif;
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
}

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background-color: #FFFFFF;
}

.contact .info-box i {
  font-size: 32px;
  color: #ff4a17;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.email-form {
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

.contact .php-email-form {
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #0046AD;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #0046AD;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #0046AD;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0046AD;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  padding: 0;
}

.bi-chevron-up img {
  z-index: 10;
  height: 30px;
  color: #050842;
}

/*------------------------------------------------------------------------------------
# Footer
------------------------------------------------------------------------------------*/

.footer-section {
  padding: 50px;
  background-color: #AB0606;
  display: flex;
  justify-content: center;
}

.footer-content {
  text-align: center;
  color: #FFFFFF;
}

.social-icons {
  padding-top: 15px;
  a {
    padding: 10px;
  }
}

.menu-footer a {
  padding: 10px;
}

.qfi-title img {
  max-height: 60px;
  padding: 10px;
}

.social-icons img {
  padding: 10px;
}

.footer-copyright {
  padding: 10px;
  p {
    padding-top: 15px;
  }
}

.corporate-hq {
  padding: 20px;
  h4 {
    padding-top: 60px;
  }
  h6 {
    font-weight: bold;
  }
  p {
    width: 50%;
    margin: 0 auto;
  }
}

.phone-email-footer {
  padding-top: 20px;
}

.menu-footer h6 {
  color: #FFFFFF;
  text-decoration: underline #FFFFFF;
}

/*------------------------------------------------------------------------------------
# Services Page
------------------------------------------------------------------------------------*/

.services-overview .row {
  background-color: #e6edf5;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.services-thumbnail {
  z-index: 10;
  img {
    border-radius: 20px;
    margin-right: -5%;
    max-height: 90%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.services-thumbnail img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.services-thumbnail img:hover {
  transform: scale(1.02);
}

.services-thumbnail img:hover:after {
  opacity: 1;
}

.services-short-desc {
  margin-top: auto;
  border-radius: 20px;
  margin-left: -3%;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  height: 90%;
  h5 {
    color: #FFFFFF;
    padding: 20px 0 0 40px;
    font-weight: bold;
  }
  p {
    color: #FFFFFF;
    padding: 10px 10px 20px 40px;
    line-height: 2;
    font-size: 0.9rem;
  }
}

.services-red {
  background-color: #AB0606;
}

.services-blue {
  background-color: #0046AD;
}

.services-title {
  padding: 50px 0 20px 0;
  text-align: center;
  background-color: #e6edf5;
  h3 {
    color: #a9a9a9;
    font-size: 2.5rem;
    font-weight: bold;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #050842;
  }
}

.services-overview-section {
  margin: 0 100px 0 100px;
}

/*------------------------------------------------------------------------------------
# Products Page
------------------------------------------------------------------------------------*/

.products-image {
  position: relative;
  img {
    width: 100%;
    z-index: 0;
    height: 300px;
  }
}

.products-title {
  padding: 50px 0 20px 0;
  text-align: center;
  background-color: #e6edf5;
  h3 {
    color: #a9a9a9;
    font-size: 2.5rem;
    font-weight: bold;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #050842;
  }
}

.products-gallery {
  padding: 50px 100px 100px 100px;
  background-color: #e6edf5;
}

.thumbnail {
  padding: 10px;
}

.caption {
  text-align: center;
  p {
    text-decoration: none;
  }
}

.products-image img {
  width: 100%;
  height: 60%;
  object-fit: fill;
}

.products-short-desc {
  text-align: center;
  width: 900px; // need to change this to make it responsive
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 20px 0;
  p {
    font-size: 1.7rem;
    color: #050842;
  }
}

.products-overview {
  text-align: center;
  background-color: #E6EDF5;
  color: #050842;
}

.products-categ-box {
  margin: 50px 0 100px 0;
  min-width: 300px;
  min-height: 300px;
  background-color: #0046AD;
  border-radius: 10px;
  flex-direction: column;
  box-sizing: unset;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  h3 {
    color: #FFFFFF;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
  }

  img {
    padding: 20px 0 30px 0;
    min-width: 40px;
    min-height: 40px;
  }
}

.products-categ-box:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.products-categ-box:hover {
  transform: scale(1.02);
}

.products-categ-box:hover:after {
  opacity: 1;
}

/*------------------------------------------------------------------------------------
# Individual Products Page
------------------------------------------------------------------------------------*/

.product-info-section {
  background-color: #e6edf5;
}

.product-title {
  padding: 50px 50px 0 100px;
  h1 {
    color: #000000;
    font-size: 2.5rem;
    font-weight: bold;
  }
  h3 {
    color: #a9a9a9;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.product-overview {
  padding: 30px 150px 0 100px;
  display: inline-block;
  .product-image img {
    height: 400px;
    padding-right: 20px;
  }
  .product-desc-short p {
    padding-top: 20px;
  }
}

.product-extra-info {
  padding: 100px;
}

/*------------------------------------------------------------------------------------
# Applications Page
------------------------------------------------------------------------------------*/

.applications-section {
  background-color: #E6EDF5;
}

.applications {
  color: #FFFFFF;
  width: 100%;
}

.applications-grid {
  text-align: center;
}

.container .container-fluid .applications-grid {
  margin: 0;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  margin-left: 0 !important;
  margin-right: 0!important;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.red-applications-box {
  background-color: #AB0606;
  padding: 100px 100px 50px 50px !important;
  width: 100%;
  text-align: left;
  line-height: 2.5;
  h3 {
    font-weight: bold;
    padding-bottom: 20px;
  }
}

.blue-applications-box {
  background-color: #0046AD;
  padding: 100px 50px 50px 100px !important;
  width: 100%;
  text-align: right;
  line-height: 2.5;
  h3 {
    font-weight: bold;
    padding-bottom: 20px;
  }
}

.applications-img {
  img {
    width: 100%;
    height: 100%;
  }
}

.read-more {
  display: inline-block; /* keeps container wrapped tight to content */
  white-space: nowrap; /* text lines will collapse without this */
  border-radius: 10%;
  p {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
  }
}

.no-padding {
  margin: 0 !important;
  padding: 0 !important;
}

/*------------------------------------------------------------------------------------
# Individual Applications Page
------------------------------------------------------------------------------------*/

// CSS already set for individual products page - temporarily using identical code from that

//.product-title {
//  padding: 50px 50px 0 50px;
//  h1 {
//    color: #000000;
//    font-size: 2.5rem;
//    font-weight: bold;
//  }
//}
//
//.product-overview {
//  padding: 30px 150px 0 100px;
//  display: inline-block;
//  .product-image img {
//    height: 400px;
//    padding-right: 20px;
//  }
//  .product-desc-short p {
//    padding-top: 20px;
//  }
//}
//
//.product-extra-info {
//  padding: 100px;
//}

/*------------------------------------------------------------------------------------
# Support Page
------------------------------------------------------------------------------------*/

.image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    color: #FFFFFF;
    font-size: 4.5rem;
    font-weight: bold;
  }
}

.paul-planning-space {
  height: 1300px;
  background-color: #e6edf5;
}

/*------------------------------------------------------------------------------------
# Contact Page
------------------------------------------------------------------------------------*/

#particles-js {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: #0046AD;
}

.top-section {
  background-color: #E6EDF5;
  padding: 100px 100px 0 100px;
}

.contact-image {
  position: relative;
  img {
    width: 100%;
    z-index: 0;
    height: 700px;
  }
}

.top-contact-title {
  text-align: center;
  h2 {
    font-weight: bold;
    font-size: 3rem;
  }
}

.contact-grid {
  padding: 60px;
  width: 100%;
  height: 400px;
  h3 {
    font-weight: bold;
  }
}

.phone-grid {
  text-align: center;
  display: flex;
  justify-content: center;
  h3 {
    font-weight: bold;
    padding: 10px;
  }
}

.email-grid {
  text-align: center;
  display: flex;
  justify-content: center;
  h3 {
    font-weight: bold;
    padding: 10px;
  }
}

.contact-phone-icon, .contact-email-icon {
  display: flex;
  justify-content: center;
  background-color: #AB0606;
  width: 110px;
  height: 110px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 50%;
}

section .contact-maps {
  background-color: #E5E5E5;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.address {
  background-color: #AB0606;
  color: #FFFFFF;
}

.modal-dialog {
  min-width: 30%;
  display: flex;
  justify-content: center;
}

.offices-map {
  max-width: 400px;
  height: 100%;
}

//.corporate-hq-map {
//  .col-8 {
//    padding: 0;
//  }
//}

//.no-gutters {
//  border-top: 10px solid #AB0606;
//}

.hq-address {
  font-size: 2rem;
  padding: 30px;
  font-weight: bold;
  p {
    text-align: right;
  }
}

.uk-address {
  text-align: left;
  font-size: 2rem;
  padding: 30px;
  font-weight: bold;
}

/* Set the size of the div element that contains the map */
#cali-map, #uk-map {
  height: 400px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.location-overview {
  padding: 150px;
  background-color: #E6EDF5;
}

.location-info {
  border-radius: 20px;
  background-color: #0046AD;
  color: #FFFFFF;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}

.skyline-img img {
  height: 150px;
}

.see-location-btn {
  display: inline;
  button {
    border: 2px solid #FFFFFF;
    width: fit-content;
  }
}

.left-side-address {
  text-align: left;
}

.right-side-address {
  text-align: left;
  padding-left: 100px !important;
}

.border-right {
  border-right: 2px solid #FFFFFF;
}
