@import './app/css/style.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: boldFont;
  src: url(./app/fonts/Montserrat/Montserrat-Bold.ttf);
}

//p {
//  line-height: 2;
//}

body {
  padding-bottom: 100px;
}

.microscopeImage img {
  height: 900px;
  width: 100%;
  z-index: 0;
}

.navbar {
  z-index: 10;
  background: none;
}

.navbar-brand .navbar-left .logo img {
  height: 10px;
}

.navbar-nav .nav-link {
  color: #FFFFFF;
  font-weight: bolder;
}

.title h1 {
  padding: 50px 0 20px 0;
  font-family: boldFont, sans-serif;
}

.short-desc-services {
  text-align: center;
  p {
    font-size: 2rem;
    width: 40%;
  }
}

.services-section {
  text-align: center;
}

.services-container {
  padding-top: 50px;
}

.services-box {
  width: 300px;
  height: 300px;
  background-color: #AB0606;
  border-radius: 10px;
  box-sizing: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  img {
    padding-bottom: 30px;
    width: 80px;
    height: 80px;
  }

  h3 {
    color: #FFFFFF;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
  }

  p {
    color: #FFFFFF;
  }
}
